<div class="container">
  <br>
  <br>
  <div class="col-sm-6">
    <li>Many thansk for signing up for Popapp. We will strive to help you increase sales in your online store</li>
    <br>
    <li>Below you fill find the embedded code which you should place at the bottom of your page</li>
    <br>
    <li>Please contact me at babahakeem@outlook.com if you need help placing the embedded code on your page.</li>
    <br>
    <br>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Embedded Code</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

      </div>
      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
    </div>
  </div>
</div>
