<div class="container">
  <br>
  <br>
  <div class="col-sm-6">
    <li>Many thansk for signing up for Popapp. We will strive to help you increase sales in your online store</li>
    <br>
    <li>Below you fill find the embedded code which you should place at the bottom of your page</li>
    <br>
    <li>Please contact me at babahakeem@outlook.com if you need help placing the embedded code on your page.</li>
    <br>
    <br>
  </div>
  <div class="col-sm-8">
    <% host_url = ENV['HOST_URL'] %>
  <form>
    <div class="form-group">
      <input type="text" class="form-control" id="exampleInputEmail1" value="<script type='text/javascript' src='<%= host_url %>/users/<%= current_user.id %>.js'></script>">
      <br>
      <button onclick="myFunction()">Copy embedded code</button>

    </div>
  </form>
</div>
</div>

<!-- The text field -->
<!-- The button used to copy the text -->

<script type="text/javascript">
  function myFunction() {
    /* Get the text field */
    var copyText = document.getElementById("exampleInputEmail1");

    /* Select the text field */
    copyText.select();
    copyText.setSelectionRange(0, 99999); /* For mobile devices */

    /* Copy the text inside the text field */
    document.execCommand("copy");

    /* Alert the copied text */
    alert("Copied the text: " + copyText.value);
  }
</script>
