<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<br>
<br>
<br>

<%= link_to "Square Connect", "https://connect.squareupsandbox.com/oauth2/authorize?client_id=#{ENV['SQUARE_APPLICATION_ID']}&scope=MERCHANT_PROFILE_READ", target: '_blank'%>


<!-- <a href='#' id='example' rel='popover' data-animation="true" data-placement='right' data-content='Its so simple to create a tooltop for my website!' title='Twitter Bootstrap Popover'></a>
 -->

